.all-white-input-style {
  outline: none;
  /* border: none; */
  /* Что бы ни менялся размер при focus */
  border: 2px solid #ffffff;
  padding: 8px;
  cursor: pointer;
}

.all-white-input-style:focus {
  outline: none;
  border: 2px solid #1976D2;
  border-radius: 4px;
}

.all-white-input--choose-style {
  outline: none;
  /* border: none; */
  /* Что бы ни менялся размер при focus */
  padding: 8px;
  border: 2px solid #fd3232;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(243, 74, 74, 0.6);
}
.carblock-icon-cars {
  background-color: none;
  /* borderRadius: '8px', */
  /* color: 'white', */
  padding: 8px;
  /* border: 'none', */
  /* cursor: 'pointer' */
}

.company-block--dis-input {
  background-color: #078c75;
  border-radius: 8px;
  color: white;
  padding: 8px;
  border: 2px solid transparent;
  }
  
  .company-block--name-active-input {
    background-color: #ffffff;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    padding: 8px;
    border: 2px solid rgb(243, 76, 154);
    box-shadow: 0 0 8px 0 rgba(243, 74, 74, 0.6);
  }
  
  .company-block--name-active-input:focus {
    outline-width: 0;
  }
  
                                /* Для отображения Alert */
  #alert-portal {
    position: fixed;
    top: 40px;
    /* bottom: 40px; */
    /* Расстояние от нижнего края экрана */
    left: 50%;
    transform: translateX(-50%);
    /* Центрирование Alert по горизонтали */
    z-index: 2100;
    /* Убедитесь, что Alert находится поверх других элементов */
}
.dialog-modal--content {
  text-align: center;
}