.all-white-input-style {
  outline: none;
  /* border: none; */
  /* Что бы ни менялся размер при focus */
  border: 2px solid #ffffff;
  background-color: none;

  padding: 8px;

  cursor: pointer;
}

.all-white-input-style:focus {
  outline: none;
  border: 2px solid #1976D2;
  border-radius: 4px;
}

.carblock-icon-cars {
  background-color: none;
  /* borderRadius: '8px', */
  /* color: 'white', */
  padding: 8px;
  /* border: 'none', */
  /* cursor: 'pointer' */
}

.company-block--dis-input {
  background-color: #078c75;
  border-radius: 8px;
  color: white;
  padding: 8px;
  border: none;
}