.menuIconButton {
  /* cursor: pointer; */
  background-color: #ffffff;
  padding: 4px;
  border-radius: 4px;
  margin-left: 2px;
  margin-top: 10px;
  /* border: 1px solid black; */
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0.3);
}

.menuIconButton:hover {
  /* cursor: pointer; */
  background-color: #F4F4F4;
  opacity: 0.8;
}

.menuIcon {}

.menuCompanyName {
  margin: 1rem;
  border-bottom: 1px solid black;
  font-family: 'Roboto';
  font-weight: 500;
}

.carsMenuBlock {
  margin: 0.4rem;
    gap: 5px;
}

.carsMenuLable {
  user-select: none;
}

.carsMenuLable:hover {
  border-bottom: 1px solid #7a7979;
}

/* 
.carsMenuLableDisconnect {
  background-color: #d72626;
} */

.menuDisconnectBox {
  display: flex;
  justify-content: center;
  align-items: center;

}

.menuDisconnectIcon {
  padding: 2px;
  border: 1px solid black;
  background-color: rgb(254, 200, 200);
  border-radius: 4px;
}

.menuIconNoneVisible {
  visibility: hidden;
}